<a href="https://colab.research.google.com/github/IshaqKHATTAK/Huawei-lab/blob/main/lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import glob

with open('my_file.csv', 'a') as csv_file:
    for path in glob.glob('./*.txt'):
        with open(path) as txt_file:
            txt = txt_file.read() + '\n'
            csv_file.write(txt)

In [ ]:
import pandas as pd

data = pd.read_csv('my_file.csv', on_bad_lines='skip',sep = " ")
data

,outlook,temperature,humidity,wind,playtennis
0,sunny,hot,high,FALSE,no
1,sunny,hot,high,TRUE,no
2,overcast,hot,high,FALSE,yes
3,rainy,mild,high,FALSE,yes
4,rainy,cool,normal,FALSE,yes
...,...,...,...,...,...
31074,\t\tEVAN_WILLIAMS_\t\t\t\t[20031101,-,20051031],NaN,NaN
31075,\t\tNEIL_LUCAS_\t\t\t\t\t[>20060130],NaN,NaN,NaN,NaN
31076,\t\tDONALD_TSANG_\t\t\t\t[>20050624],NaN,NaN,NaN,NaN
31077,</Leaders>,NaN,NaN,NaN,NaN
31078,</Country>,NaN,NaN,NaN,NaN